{% extends 'base.html' %}

{% block content %}
<form id="clipboard" method="POST">
  <div>
    <p>Hit [Ctrl]+[c] to copy</p>
    <textarea name="content" placeholder="Decrypting..." readonly></textarea>
  </div>
  <div><label>Expiration:</label> {{ expiration }} hours</div>
  <div><label>Self-destructs after:</label> {{ reads }} reads</div>
  <div><input type="submit" value="Copy data" disabled></div>
</form>
<script>
  (function() {
    setupShow({{ data | tojson }});
  })();
</script>
{% endblock %}
